* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f8ff;
}

nav {
    background: #0066ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

h1 {
    margin-bottom: 20px;
    color: #0066ff;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #198754;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#formPasien button{
    width:100%;
}

button:hover {
    background: #157347;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #0066ff;
    color: white;
}

.kosong{
    text-align:center;
    padding:20px;
    color:#666;
    font-style:italic;
}

.edit{
    background: none;
    color:rgb(0, 255, 42);
    border:2px solid rgb(0, 255, 42);
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
    margin-right:5px;
}

.edit:hover{
    color: white;
    background:rgb(0, 255, 42);
}

.hapus{
    background: none;
    border: 2px solid #ff0019;
    color:rgb(255, 0, 0);
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.hapus:hover{
    color: white;
    background:#ff0019;
}

.aksi-atas{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn-tambah{
    display: inline-block;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.712);
    color: rgba(0, 0, 0, 0.898);
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-tambah:hover{
    background: #ff7b00;
    color: black;
}


/* ===========================
   HALAMAN BERANDA
=========================== */

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:85vh;
    background:linear-gradient(rgba(0,102,255,.7),rgba(0,102,255,.7)),
    url("https://images.unsplash.com/photo-1576091160550-2173dba999ef?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:30px;
}

.hero-content{
    max-width:700px;
    background:rgba(255,255,255,.95);
    padding:45px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.hero-content h1{
    color:#0066ff;
    font-size:42px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    color:#555;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-button{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn-home{
    text-decoration:none;
    padding:14px 28px;
    border-radius:8px;
    color:white;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.daftar{
    background:#198754;
}

.daftar:hover{
    background:#157347;
}

.data{
    background:#0066ff;
}

.data:hover{
    background:#0050d4;
}

/* ==========================
   ABOUT ME
========================== */

.about{
    text-align:center;
}

.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #0066ff;
    margin-bottom:20px;
}

.deskripsi{
    max-width:700px;
    margin:20px auto;
    line-height:1.8;
    color:#555;
    font-size:17px;
}

.about-table{
    width:60%;
    margin:30px auto;
    border-collapse:collapse;
}

.about-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:left;
}

.about-table td:first-child{
    width:180px;
    background:#f5f5f5;
}

.about-btn{
    margin-top:30px;
}

.btn-about{
    display:inline-block;
    text-decoration:none;
    background:#0066ff;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn-about:hover{
    background:#004ec2;
}

@media(max-width:768px){

    .about-table{
        width:100%;
    }

    .profile{
        width:140px;
        height:140px;
    }

}

@media(max-width:768px){

    .hero-content h1{
        font-size:30px;
    }

    .hero-content p{
        font-size:16px;
    }

    .hero-button{
        flex-direction:column;
    }

    .btn-home{
        width:100%;
    }

}







@media(max-width:768px) {

    nav {
        flex-direction: column;
    }

    nav div {
        margin-top: 10px;
    }

    table {
        display: block;
        overflow-x: auto;
    }

}